.admin-container{
    margin: 0%;
    height: 83vh;
    padding-top: 5rem;
}
.admin-wrapper{
    padding: 5rem;
    padding-top: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.admin-card{
    width: 25rem;
    height: 16rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    border-radius: 10px;
}

.admin-upper{
    background-color: var(--color-golden2);
    color: white;
    height: 70%;
    padding-top: 2.5rem;
    border-radius: 10px;
    font-size: 40px;
}

.admin-h{
    padding-top: 1rem;
}