.navbar{
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--color-black);
    padding: 1rem 2rem;
    z-index: 10000;
}
.navbar-logo{
    display: flex;
    flex: 1;
    justify-content: flex-start;
    align-items: center;
}

.navbar-logo img{
    width: 170px;
}
.navbar-logo img:hover{
    cursor: pointer;
}

.nav-links{
    flex:4;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.nav-links li{
    margin: 0 2rem;
    cursor: pointer;
}
.nav-links li:hover{
    color:var(--color-golden2);
}

.nav-links .p__opensans a.active{
    color:var(--color-golden2);
}

.user-interaction{
    display: flex;
    flex: 1;
    color: white;
    justify-content: flex-end;
    margin: 0 1rem;
    
}
.cart{
    margin: 1rem;
}

.user-icon{
    margin: 1rem;
    color: var(--color-golden2);
}
.cart-icon:hover{
    color: var(--color-golden2);
    cursor: pointer;
}

.user-icon:hover{
    color: var(--color-white);
    cursor: pointer;
}
.cart-item-count{
    font-family: var(--font-alt2);
    color: var(--color-golden2);
    padding: 3px;
    font-size: 12px;
    border-radius: 50%;
    background: var(--color-black);
    margin-bottom: -5px;
    margin-left: -27px;
}